body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    display: flex;
    font-family: sans-serif;
}

header {
    background-color: #4b5320;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


  